
/*css for separate peace html page*/
/*styles the top where the header text is*/
.header {
    background-color: #659dbd;
    padding: 0px;
    margin: 0px;
    color: white;
}

/*styles the button that leads back to index.html*/
.button {
    background-color: #8d8741; /* Green */
    border: none;
    color: #fbeec1;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 15px 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

/*class to center stuff*/
.center {
    text-align:center;
    margin-left:auto; 
    margin-right:auto;
}

/*styles the border around blocks of text*/
.border {
    border: 10px double #bc986A;
    margin: 0px 310px 0px 310px;
    background-color: #fbeec1;
    border-radius: 20px;
}

/*styles the header*/
h1{
    text-decoration: overline underline;
    text-align: center;
}

/*styles the header*/
h2{
    text-align: center;
}

/*styles paragraphs*/
p{
    font-size: 22px;
    color: #bc986A;
    padding: 10px 10px;
}


/*styles background*/
body{
    background-image: url(images/separate-peace.jpg);
    background-size: cover;
}

/*for image in border*/
img{
    margin: 0px;
    padding: 0px;
}

/*for comment section*/
#comment{
    border: 5px solid #bc986A;
    background-color: #fbeec1;
    text-align: center;  
    font-size: 20px;
    margin: 10px 500px 10px 500px;
}

/*styles likes and dislikes button*/
.like, .dislike {
    display: inline-block;
    color: white;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: #659dbd;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
}

/*styles the place where the numbers show incrementally*/
.qty1, .qty2 {
    border: none;
    width:20px;
    background: transparent;
}



